<%= simple_form_for(@article) do |f| %>
  <div class='row'>
    <div class='col-sm-6'>
      <% set_slug_link = link_to 'set from title', '#', id: 'set-slug-from-title' unless Supportify.autoset_slug %>
      
      <%= f.input :title %>
      <%= f.input :slug, label: ("Slug " + set_slug_link).html_safe, input_html: {readonly: Supportify.autoset_slug} %>
      
      <div class='row'>
        <div class='col-sm-6'>

          <%= f.input :locale, collection: Supportify.locales, include_blank: false %>
        </div>
        <div class='col-sm-6'>
          <%= f.input :published, as: :select, include_blank: false %>
        </div>
      </div>
    </div>
    <div class='col-sm-6'>
      <%= f.input :tag_list, input_html: {data: {options: tag_options_helper(:tags)}} %>
      <%= f.input :category_list, input_html: {data: {options: tag_options_helper(:categories)}} %>
      <%= f.input :admin_tag_list, input_html: {data: {options: tag_options_helper(:admin_tags)}} %>
    </div>
  </div>

  <p>
    <label>Thumbnail</label>
    <%= image_tag(@article.image_url(:thumb)) if @article.image? %>
    <%= f.file_field :image %>
    <%= f.hidden_field :image_cache %>
  </p>

  <p>  
    <% if Supportify.use_ckeditor %>
      <%= f.input :body, :as => :ckeditor, :input_html => { :ckeditor => {:toolbar => 'Mini'} } %>
    <% else %>
      <%= f.input :body, :as => :text %>
    <% end %>  
  </p>

  <div class="actions">
    <%= f.submit class: 'btn btn-primary'%>
  </div>
<% end %>