<%= select_tag :set_locale, options_for_select(Supportify.locales, I18n.locale) %>
<h1>Listing articles</h1>

<table>
  <thead>
    <tr>
      <th>Thumbnail</th>
      <th>Title</th>
      <th>Slug</th>
      <th>Locale</th>
      <th>Body</th>
      <th>Author</th>
      <th>Published at</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= image_tag article.image_url(:thumb) %> </td>
        <td><%= article.title %></td>
        <td><%= article.slug %></td>
        <td><%= article.locale %></td>
        <td><%= article.body %></td>
        <td><%= article.author_id %></td>
        <td><%= article.published_at %></td>
        <td><%= link_to 'Show', article %></td>
        <td><%= link_to 'Edit', edit_article_path(article) %></td>
        <td><%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Article', new_article_path %>
