<h1>
  Support articles
  <%= select_tag :set_locale, options_for_select(Supportify.locales, I18n.locale), class: 'pull-right' %>
</h1>

<table class='table table-striped'>
  <thead>
    <tr>
      <th>Title</th>
      <th>Locale</th>
      <th>Lists</th>
      <th>Author</th>
      <th>Published at</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.title %></td>
        <td><%= article.locale %></td>
        <td>
          Tag list: <%= article.tags.to_sentence %><br/>
          Category list: <%= article.categories.to_sentence %><br/>
          Admin list: <%= article.admin_tags.to_sentence %>
        </td>
        <td><%= article.author.send(Supportify.author_name_method) if article.author %></td>
        <td><%= article.published_at %></td>
        <td>
          <%= link_to 'Show', article %> |
          <%= link_to 'Edit', edit_article_path(article) %> |
          <%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Article', new_article_path %>
